@use 'sass:math';

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap {
    gap: 20px;
}

@mixin flex-col($width, $percentage: true) {
    .flex-col-#{$width} {
        display: flex;
        flex-direction: column;

        @if $percentage {
            flex-basis: percentage(math.div($width, 100));
        } @else {
            flex-basis: '#{$width}px';
        }
    }
}

@include flex-col(50);
@include flex-col(33);

section.flex-row {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
